@use "./variables" as *;
@use "./mixins" as *;

footer{
    background-image: url(/imgs/footer_bg.png);
    background-position: center;
    background-size: cover;
    background-color: $bg_color;
    .footer-content{
        padding:90px 0;
        p{
            @include paragraphStyling;
            padding-right: 30px;
        }
        h3{
            color: #fff;
            font-size: 22px;
            text-transform: capitalize;
            position: relative;
            padding-bottom: 5px;
            &::after{
                @include afterAndBefore(100%,0,50px,2px);
                background-color: $main_color;
            }
        }
        ul{
            li{
                margin-bottom: 15px;
                a{
                    text-decoration: none;
                    color: #bab5b5;
                    transition: .3s;
                    &:hover{
                        color: $main_color;
                    }
                }
            }
        }
        form{
            input{
                width: 70%;
                padding: 10px;
                border: none;
                outline: none;
            }
            button{
                border: none;
                outline: none;
                padding: 10px 20px;
                background-color: $main_color;
            }
        }
        .social-links{
            a{
                margin-right: 10px;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                color: #fff;
                background-color: #383737;
                transition: .3s;
                &:hover{
                    background-color: $main_color;
                }
            }
        }
    }
    .foot{
        background-color: $bg_color;
        color: #fff;
        padding: 20px 0;
        span{
            color: $main_color;
        }
    }
}