@use "./variables" as *;
@use "./mixins" as *;

.testimonial{
    padding: 80px 0;
    background-image: url("/imgs/testimonial-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-color: $bg_color;
    .head{
        h5{
            @include smallHeader;
            width: 300px;
            margin:0px auto;
        }
        h1{
            @include mainHeader;
            text-align: center;
        }
    }
    .opinions{
       .clients{
        .client{
            border: 3px solid #fff;
            cursor: pointer;
            transition: .3s;
            &.active{
                border-color: $main_color;
                transform: scale(1.2);
            }
        }
       }
       .texts{
        position: relative;
        min-height: 200px;
        .text{
            visibility: hidden;
            opacity: 0;
            background-color: $bg_color;
            padding: 30px;
            transition:.3s;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            @media (min-width:767px) {
                &{
                    width: 70%;
                }
            }
            p{
                @include paragraphStyling;
            }
            h3{
                @include mediumHeader;
            }
            span{
                color: $main_color;
            }
            &.active{
                visibility: visible;
                opacity: 1;
                height: fit-content;
            }
        }
       }
    }
}